.homepage {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }

  nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

  nav ul li a:hover {
    color: #692cab6b;
  }
  
  .hero {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #fff;
  }
  
  .hero img {
    flex: 1;
    width: 100%;
    height: auto;
  }
  
  .hero-text {
    flex: 1;
    text-align: center;
  }
  
  .hero-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .hero-text button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .about {
    padding: 50px;
    background-color: #fff;
  }
  
  .about h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .projects {
    padding: 10px;
  }