/* InativosPanel.module.css */
.container {
  width: 100%;
  height: 230px;
  border-radius: 5px;
  padding: 5%;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 0.8px;
  border-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 1em;
}

.imageContainer {
  width: 45%;
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
}

.image {
  width: 100%;
  border-radius: 5px;
}

.content {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.textContainer {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttonContainer {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.title {
  text-align: left;
  font-size: large;
  font-weight: 700;
}

.description {
  text-align: left;
  font-size: 0.9em;
  font-weight: 500;
}

.activeButton {
  background-color: #fc0000;
  border: none;
  color: white;
  height: 45px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.inactiveButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  height: 45px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loading {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;

}
.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}