body{
    background-color: rgb(255, 255, 255);
}

.Foto {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.CardPrincipal {
    border: 1.5px solid #000;
    border-radius: 10px;
    width: 45%;
    height: 60%;
    padding: 5%;
    margin: auto;
    margin-top:  1%;
    background-color: rgb(255, 255, 255)
}
.CardPrincipal2 {
    border: 1.5px solid #000;
    border-radius: 50px;
    width: 100%;
    height: 60%;
    padding: 4%;
    margin: auto;
    margin-top:  1%;
    background-color: rgb(255, 255, 255)
}
.Email {
    background-color: rgba(128, 128, 128, 0.396);
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 40px ;
}
.Apelido2 {
    background-color: rgba(128, 128, 128, 0.396);
    border-radius: 5px;
    display: block;
    width: 50%;    
    height: 100px;
    text-align: left;
}


.Apelido {
    background-color: rgba(128, 128, 128, 0.396);
    border-radius: 5px;
    display: block;
    width: 50%;
    
}
.CardEmail{
    margin-bottom: 10px;
}
.Cardapalido {
    margin-bottom: 10px;
}

.Icons {
   width: 9%;
   height: 9%;
}

.Icons2{
    display: flex;
    flex-direction: space-between;
    justify-content: center;
    padding: 10px;
    
}


.TextoLogin {
    padding-bottom: 14px;
}

.Comoaparecerápublicamente{
    font-size: 12px;
    top: 50%;
}

.font1{
    font-size: 14px;
}

.font1{
    font-size: 14px;
}

.BotãoDeEntrar {
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    background-color: #625959ce;
    color: white;
}

.Bola {
    width: 200px;
    height: 200px; 
    background-color: #692cab6b;
    border-radius: 50%;
    position: absolute; 
    margin-top: 1px;
    margin-left: 250px;
}
.Hr {
    border: 1.5px solid #000;
}


.neumorphicButton {
    position: relative;
    background-color: #e70c0c;
    border: none;
    border-radius: 50px;
    width: 60px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    margin-left: 0.5%;
  }
  
  .innerButton {
    position: absolute;
    background-color: #e0e0e0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
  }
  
  .neumorphicButton.active .innerButton {
    transform: translateX(30px);
    background-color: #ffffff;
    box-shadow: -5px -5px 10px #bebebe, 5px 5px 10px #ffffff;
  }
  
  .neumorphicButton.active {
    box-shadow: inset -5px -5px 10px #17f707, inset 5px 5px 10px #17f707;
  }
  .neumorphicButton.active {
    background-color: #00ff00; 
  }
  .ExibirTelefone {
    margin-left: 2%;
}
.form{
    position: absolute;
    top: 10%;
    left: 10%;
}
<<<<<<< HEAD

.imagem {
    width: 100px;
    height: 100px;
}
=======
.barra
{
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    margin-bottom: 56%;
}
>>>>>>> 74ee5a982b175917b1e5a6c767196a7f19589a49
