body {
    background-color: rgb(255, 255, 255);
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.text {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label {
    font-size: 14px;
    font-weight: bold;
}

.input {
    background-color: rgba(128, 128, 128, 0.396);
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}

.icon {
    display: block;
    margin: 10px 0;
}

.contact {
    font-size: 14px;
    font-weight: bold;
}

.buttonGroup {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.submitButton, .cancelButton {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 26%; 
}

.submitButton {
    background-color: #4CAF50;
    color: white;
}

.cancelButton {
    background-color: #f44336;
    color: white;
}

.previewContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.previewImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.barra {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    margin-bottom: 30%;
}
