body{
    background-color: rgb(255, 255, 255);
}

.CardPrincipal {
    border: 1.5px solid #000;
    border-radius: 10px;
    width: 45%;
    height: 60%;
    padding: 5%;
    margin: auto;
    margin-top:  1%;
    background-color: rgb(255, 255, 255)
}
.CardPrincipal2 {
    border: 1.5px solid #000;
    border-radius: 50px;
    width: 100%;
    height: 60%;
    padding: 4%;
    margin: auto;
    margin-top:  1%;
    background-color: rgb(255, 255, 255)
}
.Email {
    background-color: rgba(128, 128, 128, 0.396);
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 40px ;
}
.Apelido {
    background-color: rgba(128, 128, 128, 0.396);
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 40px ;
}
.CardEmail{
    margin-bottom: 10px;
}
.Cardapalido {
    margin-bottom: 10px;
}

.Icons {
   width: 9%;
   height: 9%;
}

.Icons2{
    display: flex;
    flex-direction: space-between;
    justify-content: center;
    padding: 10px;
    
}


.TextoLogin {
    padding-bottom: 14px;
}

.Comoaparecerápublicamente{
    font-size: 12px;
    top: 50%;
}

.font1{
    font-size: 14px;
}

.BotãoDeEntrar {
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    background-color: #625959ce;
    color: white;
}

.Bola {
    width: 200px; /* Largura da bola */
    height: 200px; /* Altura da bola (igual à largura para torná-la redonda) */
    background-color: #692cab6b; /* Cor da bola com 50% de opacidade */
    border-radius: 50%; /* Torna a borda do elemento redonda, criando uma bola */
    position: absolute; /* Posicionamento absoluto */
    margin-top: 1px;
    margin-left: 250px;
}
.Hr {
    border: 1.5px solid #000;
}