body {
  background-color: rgb(255, 255, 255);
}

* {
  padding: 0%;
}

.mxAuto {
  display: flex;
  align-items: center;
}

.SearchButton {
  background-color: #7900f94c;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

}

.SearchButton:hover {
  background-color: #7b00ff9a;
}


.navLink,
.nav-link,
.nav-dropdown-item {
  color: #000000;
  font-weight: bold;
  margin: 0 50px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.navLink:hover,
.nav-link:hover,
.nav-dropdown-item:hover {
  color: rgb(54, 50, 50);
}

.anunciar {
  background-color: #7900f94c;
  color: black;
  width: auto;
  height: 40px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  border-radius: 15px;
}

.anunciar:hover {
  background-color: #7b00ff9a;
}