body{
    background-color: rgb(255, 255, 255);
}

.Bola {
    width: 200px; /* Largura da bola */
    height: 200px; /* Altura da bola (igual à largura para torná-la redonda) */
    background-color: #692cab6b; /* Cor da bola com 50% de opacidade */
    border-radius: 50%; /* Torna a borda do elemento redonda, criando uma bola */
    position: absolute; /* Posicionamento absoluto */
    margin-top: 1px;
    margin-left: 250px;
}

.TextoCategorias {
    padding-bottom: 14px;
    padding-top: 10px;
    text-align: center;
}

.TextoPronto {
    padding-bottom: 11px;
    padding-top: 10px;
    text-align: center;
}

.Categorias {
    width: 200px;
    height: 200px;
    padding: 7px;
    border-radius: 10px;
    background-color: #7979796b;
    color: white;
}