/* Estilos para a tela Home */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Estilização para o layout da tela */
  .homeLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
  }
  