.inputForm {
    padding: 6px;
    width: 100%;
    margin-top: 12px;
    border-radius: 4px;
}

.Titulos{
   padding-top: 12px;

}

.imagem{
    width: 100px;
    height: 100px;
}

.Previa{
    padding-top: 14px;
}


.CadastrarFotodePerfil{
    padding-top: 12px;
    padding-bottom: 0;
}

.Botaofechar{
    padding: 12px;
    margin-left: -12px;

}

.BotaoCadastar{
    padding: 12px;
    border-radius: 12px;
    border: 2px solid black; 
}

.ButtonClose{
    border-radius: 4px;
    padding: 3px;
}

.ButtonLogin{
    border-radius: 4px;
    padding: 3px;
}

.loginimg{
    border-radius: 4px;
    padding: 3px;
}